## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio / Rider
.vs/
.idea/
*.sln.iml
*.user
*.suo

# Database files
*.db
*.db-shm
*.db-wal

# OS files
.DS_Store
Thumbs.db
